<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>!Home!Page!</title>
	</head>
	<body>
		<table>
			<tr>
				<fieldset>
					<legend>Message</legend>
					<output id="Homepagemessage">Welcome</output>
				</fieldset>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>Offer a Ride</legend>
						<form method="get" action="RC">
    					<button type="submit">Begin</button>
						</form>
					</fieldset>
				</td>
				<td>
					<fieldset>
						<legend>Book a Ride</legend>
						<form method="get" action="RB">
    					<button type="submit">Search</button>
						</form>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>View Ride</legend>
						<form method="get" action="RL">
    					<button type="submit">Check it out</button>
						</form>
					</fieldset>
				</td>
				<td>
					<fieldset>
						<legend>View Book</legend>
						<form method="get" action="RBL">
    					<button type="submit">To Do</button>
						</form>
					</fieldset>
				</td>
			</tr>
						<tr>
				<td>
					<fieldset>
						<legend>Cancel Ride</legend>
						<form method="get" action="RC">
    					<button type="submit">To Do</button>
						</form>
					</fieldset>
				</td>
				<td>
					<fieldset>
						<legend>Cancel Book</legend>
						<form method="get" action="RBC">
    					<button type="submit">To Do</button>
						</form>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td>
					<fieldset>
						<legend>Disconnect</legend>
						<form method="get" action="I">
    					<button type="submit">ByeBye</button>
						</form>
					</fieldset>
				</td>
			</tr>
		</table>
	</body>
</html>