<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Getting Ready</title>
	</head>
	<body>
		<table>
			<tr>
				<td>
					<fieldset>
						<legend>Sign Up</legend>
						<form method="get" action="US">
    					<button type="submit">Begin</button>
						</form>
					</fieldset>
				</td>
				<td>
					<fieldset>
						<legend>Log In</legend>
						<form method="get" action="UL">
    					<button type="submit">Search</button>
						</form>
					</fieldset>
				</td>
			</tr>
		</table>
	</body>
</html>